/*Tela Grande*/
@media ( min-width : 768px) {
	.panel-default, .alert {
		margin-left: 10px;
		margin-right: 10px;
	}
	.jumbotron {
		margin-left: 20%;
		margin-right: 20%;
		min-height: 550px;
	}
	footer {
		position: fixed;
	}
}

.navbar-brand {
	padding: 0px;
}

#home {
	width: 50%;
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 5px;
}

#brand {
	margin: 1px;
	height: 45px;
}

.form-group {
	height: 35px;
	margin-bottom: 10px;
}

.link-panel {
	float: right;
	padding: 0px;
}

.inline-link {
	padding: 0px;
	padding-bottom: 1.7px;
}

.title-panel {
	float: left;
	padding-top: 2px;
}

.btn-panel {
	float: right;
}

.tarea {
	height: 160px;
}

#comment, #description {
	overflow: auto;
	height: 160px;
	resize: none;
}

#hello {
	color: #fff;
	margin-left: 50px;
}

#hello:hover {
	text-decorations: none;
}

.jumbotron {
	background-image: url('/images/cover-page.jpg');
	background-size: cover;
	width: 60%;
	height: 100%;
}

.jumbotron h1 {
	color: #fff;
	border-color: #F2F2F2;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
	padding-top: 250px;
}

.btn-black {
	background-color: black;
	border-color: black;
}

.btn-xlarge {
	font-size: 1.7em;
	background-color: black;
	border-color: black;
}

.btn-xlarge:hover {
	
}

footer {
	position: fixed;
	bottom: 0px;
	width: 90%;
	background-color: #fff;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	color: 222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

.row {
	margin-top: 10px;

	margin-left: 0px;
	margin-right: 0px;
}

.panel-default {
	margin-bottom: 100px;
}

.title-meta-details {
    border-top: 1px solid #eaeaea;  
    margin-top: 15px;
     
}
 
.title-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
 
.description {
    margin-top: 0;
}
 
.title-name {
    font-weight: bold;
    font-size: 1.5em;
}

.bookmark-title {
	font-weight: bold;
    font-size: 1.3em;
}

.title-name a, .bookmark-title a{
	margin: 0px;
	padding: 0px;
}

.title-name a:hover, .bookmark-title a:hover{
	text-decoration: none;
}
 

.title-body, .bookmark-body {
    border-top: 1px solid #eaeaea;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

.btn-float-right {
	float: right;
}