/*Tela Grande*/
@media ( min-width : 768px) {
	.panel-default, .alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar-brand {
	padding: 0px;
}

#home {
	width: 50%;
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 5px;
}

#brand {
	margin: 1px;
	height: 45px;
}

.form-group {
	height: 35px;
	margin-bottom: 10px;
}

.link-panel {
	float: right;
	padding: 0px;
}

.inline-link {
	padding: 0px;
	padding-bottom: 1.7px;
}

.title-panel {
	float: left;
	padding-top: 2px;
}

.btn-panel {
	float: right;
}

.tarea {
	height: 160px;
}

#comment, #description {
	overflow: auto;
	height: 160px;
	resize: none;
}