<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="container">
	<footer class="footer" >
		<small> Coypright &copy; <a href="http://portal1.iff.edu.br">Instituto
				Federal de Educação, Ciência e Tecnologia Fluminense</a> by <a
			href="https://www.facebook.com/diegoliveiras">Diego Oliveira</a>
		</small>
		<nav>
			<ul>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</footer>
</div>


</html>