<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="_layout">

<section layout:fragment="content">
	<form class="form horizontal" method="POST" action="/bookmarks"
		th:object="${bookmark}">

		<div layout:include="_fieldMessage"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<a class="btn btn-link link-panel" href="/bookmarks">Bookmarks
						Listing</a>
					<h3 class="panel-title title-panel">Create a new Bookmark</h3>
				</div>
			</div>
			<div class="panel-body">
				<input type="hidden" th:field="*{id}"/>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('title')} ? has-error">
					<label for="title" class="col-sm-2 control-label">Title:</label>
					<div class="col-sm-4">
						<select class="form-control" th:field="*{title}">
							<option value="">SELECT A TITLE</option>
							<option th:each="title : ${titles}" th:value="${title.id}"
								th:text="${title.name}"></option>
						</select>
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('marking')} ? has-error">
					<label for="marking" class="col-sm-2 control-label">Marking:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="marking"
							th:field="*{marking}" />
					</div>
				</div>
				<div class="form-group tarea"
					th:classappend="${#fields.hasErrors('comment')} ? has-error">
					<label for="comment" class="col-sm-2 control-label">Comment:</label>
					<div class="col-sm-4">
						<textarea class="form-control tarea" id="comment" th:field="*{comment}"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<button type="submit" class="btn btn-primary"
							style="margin-top: 20px;">Save</button>
					</div>
				</div>

			</div>
		</div>
	</form>
</section>
</html>