<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<section layout:fragment="content">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<a class="btn btn-link link-panel" href="/users/new">Get Started!</a>
					<h3 class="panel-title title-panel">Welcome to Bookmarks!</h3>
				</div>
			</div>

			<div class="panel-body">
				<div class="clearfix text-center">
					<h1 >Social Bookmarking</h1>
					<img alt="Bookmarks"
						id="home" src="/images/home.jpg" />
				</div>
			</div>
		</div>
</section>
</html>