<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="_layout">

<section layout:fragment="content">
	<div layout:include="_message"></div>

	<div class="panel-body">
		<div class="center jumbotron">
			<h1>BOOKMARKS</h1>

			<div class="text-center" sec:authorize="!isAuthenticated()">
				<form th:action="@{/login}" method="get">
					<button class="btn btn-danger btn-lg btn-xlarge">Sign in</button>
				</form>
			</div>
		</div>
	</div>
</section>
</html>