<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Bookmarks</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="Bookmarks"
					id="brand" src="/images/bookmark-logo.png" />
				</a>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li class="dropdown" sec:authorize="isAuthenticated()"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">Titles
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/titles">See all Titles</a></li>
							<li><a href="/titles/new">Create a new Title</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="isAuthenticated()"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">Bookmarks
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/bookmarks">See all Bookmarks</a></li>
							<li><a href="/bookmarks/new">Create a new Bookmark</a></li>
						</ul></li>
					<li><a href="#">About</a></li>
					<li class="text-center"
						th:if="${#httpServletRequest.remoteUser != null}"><a
						th:text="'Hello '+ ${#httpServletRequest.remoteUser} +', what will we bookmark today?'"></a>
					</li>
				</ul>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<form th:action="@{/login}" method="get"
					class="navbar-form navbar-right" title="Login" rel="tooltip">
					<button class="btn btn-default btn-sm">Sign in</button>
				</form>
			</div>
			<div sec:authorize="isAuthenticated()">
				<!--/* When using CSRF this needs to be a POST */-->
				<form th:action="@{/logout}" method="post"
					class="navbar-form navbar-right" title="Logout" rel="tooltip">
					<button class="btn btn-default btn-sm">Sign Out</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="alert alert-success alert-dismissable" role="alert"
		th:if="${!#strings.isEmpty(success)}">
		<span th:text="${success}"></span>
	</div>
	<div class="alert alert-danger alert-dismissable" role="alert"
		th:if="${!#strings.isEmpty(danger)}">
		<span th:text="${danger}"></span>
	</div>

	<section layout:fragment="content"></section>

	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/application.js"></script>
</body>
</html>