<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="_layout">


<section layout:fragment="content">
	<div layout:include="_message"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<a class="btn btn-link link-panel" href="/bookmarks/new">New
					Bookmark</a>
				<h3 class="panel-title title-panel">Bookmarks Listing</h3>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="col-md-3">Title</th>
						<th class="col-md-2">Marking</th>
						<th class="col-md-4">Comment</th>
						<th class="text-center col-md-1">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bookmark : ${bookmarks}">
						<td class="text-center" th:text="${bookmark.id}"></td>
						<td class="" th:text="${bookmark.title.name}"></td>
						<td class="" th:text="${bookmark.marking}"></td>
						<td class="" th:text="${bookmark.comment}"></td>
						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/bookmarks/{id}(id=${bookmark.id})}"> <span
								class="glyphicon glyphicon-pencil"></span>
						</a> <a class="btn btn-link btn-xs" data-toggle="modal"
							data-target="#modalConfirmDelete"
							th:attr="data-id=${bookmark.id},
							data-model='bookmarks'">
								<span class="glyphicon glyphicon-remove"></span>
						</a></td>
					</tr>
					<tr>
						<td class="text-center" colspan="5"
							th:if="${#lists.isEmpty(bookmarks)}">There are no bookmarks
							yet! Click <a class="btn btn-link inline-link"
							href="/bookmarks/new">here</a> to create a new one!
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div layout:include="_modalConfirmDelete"></div>

	</div>
</section>
</html>