<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="_layout">


<section layout:fragment="content">
	<div layout:include="_message"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<a class="btn btn-link link-panel" href="/titles/new">New Title</a>
				<h3 class="panel-title title-panel">Titles Listing</h3>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-1">Picture</th>
						<th class="col-md-3">Name</th>
						<th class="col-md-3">Description</th>
						<th class="col-md-2">Creator</th>
						<th class="text-center col-md-1">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="title : ${titles}">
						<td class="text-center" th:text="${title.id}"></td>
						<td class="text-center">-</td>
						<td class="" th:text="${title.name}"></td>
						<td class="text-center" th:text="${title.description}"></td>
						<td class="text-center" th:text="${title.creator}"></td>
						<td class="text-center">-</td>
					</tr>
					<tr>
						<td class="text-center" colspan="6"
							th:if="${#lists.isEmpty(titles)}">There are no titles yet!
							Click <a class="btn btn-link inline-link" href="/titles/new">here</a>
							to create the first one!
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>