<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="_layout">


<section layout:fragment="content">
	<div layout:include="_message"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<a class="btn btn-link link-panel" href="/bookmarks/new">New
					Bookmark</a>
				<h3 class="panel-title title-panel">Bookmarks Listing</h3>
			</div>
		</div>

		<div class="panel-body">
			<div class="row" th:if="${#lists.isEmpty(bookmarks)}">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="well well-lg">
						<div class="bookmark-body text-center">
							There are no bookmarks yet! Click <a
								class="btn btn-link inline-link" href="/bookmarks/new">here</a>
							to create a new one!
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<div th:each="bookmark : ${bookmarks}">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<div class="well well-lg">
								<div class="bookmark-title">
									<a class="bookmark-title btn btn-link btn-xs"
										th:href="@{/bookmarks/{id}(id=${bookmark.id})}"> <span
										th:text="${bookmark.title.getName()}"></span>
									</a> <a class="btn btn-link btn-xs btn-float-right"
										data-toggle="modal" data-target="#modalConfirmDelete"
										th:attr="data-id=${bookmark.id},
							data-model='bookmarks'"
										title="Delete" rel="tooltip"> <span
										class="glyphicon glyphicon-remove"></span>
									</a>
								</div>
								<div class="bookmark-body">
									<span style="font-weight: bold;">Marked at: </span><span
										th:text="${bookmark.marking}"></span>

								</div>
								<div class="bookmark-comment" th:if="${!#lists.isEmpty(bookmark.comment)}">
									<small><span th:text="${bookmark.comment}"></span> </small>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div layout:include="_modalConfirmDelete"></div>

			</div>
		</div>
	</div>
</section>
</html>