<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="_layout">


<section layout:fragment="content">
	<div layout:include="_message"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<a class="btn btn-link link-panel" href="/titles/new">New Title</a>
				<h3 class="panel-title title-panel">Titles Listing</h3>
			</div>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<div class="row" th:if="${#lists.isEmpty(titles)}">
					<div class="col-xs-8 col-xs-offset-2">
						<div class="well well-lg">
							<div class="bookmark-body text-center">
								There are no titles yet! Click <a
									class="btn btn-link inline-link" href="/titles/new">here</a> to
								create a new one!
							</div>
						</div>
					</div>
				</div>
				<div th:each="title : ${titles}">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<div class="well well-lg">
								<div class="title-name">
									<a class="title-name btn btn-link btn-xs"
										th:href="@{/titles/{id}(id=${title.id})}"> <span
										th:text="${title.name}"></span>
									</a> <a class="btn btn-link btn-xs btn-float-right"
										data-toggle="modal" data-target="#modalConfirmDelete"
										th:attr="data-id=${title.id},
							data-model='titles'"
										title="Delete" rel="tooltip"> <span
										class="glyphicon glyphicon-remove"></span>
									</a>
								</div>
								<div class="title-body">
									<span th:text="${title.description}"></span>

								</div>
								<div class="title-creator"
									th:if="${!#lists.isEmpty(title.creator)}">
									<small><span style="font-weight: bold;">Created
											by: </span><span th:text="${title.creator}"></span> </small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div layout:include="_modalConfirmDelete"></div>

	</div>
</section>
</html>